# Data Science Tools and Ecosystem

## Author
Beth Hegland

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries for Data Science
- Provide examples of arithmetic expressions

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplotlib
3. Keras

| Data Science Tools |
| ------------- |
| Jupyter Notebook |
| RStudio |
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python

In [12]:
# This a simple arithmetic expression to mutiply then add integers

In [14]:
(3*4)+5

17

In [16]:
#  This will convert 200 minutes to hours by diving by 60

In [20]:
mins=200
hours=mins/60
print(hours)

3.3333333333333335